.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore the Output directory
Output/

# Ignore the Backup directory
Backup/

# Ignore the Backup directory
DizExport/

# Ignore the Orig_Roms_For_Comparison directory
Orig_Roms_For_Comparison/

# Ignore the nhl94.smc file in the root directory
/NHL '94 (USA).sfc

#Ignore Rom Backups
_rom_backups/
